################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/.vs/VSWorkspaceState.json
/.vs/Homework2.811/v16/.suo
